.contentWrapper {
  padding: 0;
  text-align: center;
}

.counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media (max-width: 500px) {
    flex-direction: column;
    flex-wrap: none;
  }

  > div {
    flex-grow: 1;
    min-height: 80px;
    padding: 2rem 1rem 0;
    > div {
      font-size: 0.9rem;
    }
    > strong {
      padding-top: 0.75rem;
      display: block;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
