.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  > p {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    flex-basis: 400px;
  }
}
